<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--  Permite recuperar grandes volumenes de datos desde el servidor via AJAX -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <!--<add name="CSCorreoInstitucional" connectionString="Data Source=plataformaweb.work,1433;Initial Catalog=bdcolombiarica;Persist Security Info=True;User ID=usrsqltecnoeduca;Password=slcldda7*" providerName="System.Data.SqlClient" />-->
    <add name="CSBocore" connectionString="Data Source=DESKTOP-6NF4QCE\MSSQLSERVER_2016;Initial Catalog=BDBocore;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="ApplicationServices" connectionString="Data Source=DESKTOP-6NF4QCE\MSSQLSERVER_2016;Password=123456;User ID=sa;Initial Catalog=BDBocore;Connect Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="AppOANConnectionString" connectionString="Data Source=DESKTOP-6NF4QCE\MSSQLSERVER_2016;;Initial Catalog=BDBocore;Password=123456;User ID=sa;Trusted_Connection=True;MultipleActiveResultSets=True;Connect Timeout=300" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicesBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Service" behaviorConfiguration="a">
        <endpoint address="" binding="basicHttpBinding" contract="IService" bindingConfiguration="ServicesBinding"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="a">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <!--<system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>-->
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
      </assemblies>
    </compilation>
    <!--<webServices>
      <protocols>
        <clear />
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>-->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <!--<sessionState mode="SQLServer" timeout="60" sqlConnectionString="data source=.;Integrated Security=SSPI"/>-->
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/Login.aspx" timeout="2880" />-->
      <forms name=".CookieAuthenticationAllForms" cookieless="UseCookies" loginUrl="Login.aspx" defaultUrl="Login.aspx" path="/" protection="All" slidingExpiration="true" timeout="1"/>
    </authentication>
    <customErrors mode="Off" defaultRedirect="error.aspx">
      <error statusCode="404" redirect="404.aspx"/>
      <error statusCode="500" redirect="500.aspx"/>
    </customErrors>
    <!--<authorization>
      <deny users="?"/>
    </authorization>-->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <!-- 20480 MB specified in kilobytes -->
    <httpRuntime targetFramework="4.5" apartmentThreading="false" appRequestQueueLimit="5000" delayNotificationTimeout="5" enable="true" enableHeaderChecking="true" enableKernelOutputCache="true" enableVersionHeader="true" executionTimeout="3600" maxRequestLength="20480000" maxWaitChangeNotification="0" minFreeThreads="8" minLocalRequestFreeThreads="4" requestLengthDiskThreshold="80" requestValidationMode="2.0" requireRootedSaveAsPath="true" sendCacheControlHeader="true" shutdownTimeout="3600" useFullyQualifiedRedirectUrl="false" waitChangeNotification="0"/>
    <!--AspNetSqlMembershipProvider:
     Clase que determina el número de intentos de contraseña se permite al usuario durante qué período de tiempo.
     De forma predeterminada se proporciona un SqlMembershipProvider para nosotros que permite 5 intentos de contraseña 
     de inicio de sesión cada 10 minutos. Si queremos personalizar estos valores, entonces debe crear un nuevo proveedor 
     SqlMembershipProvider en el cual pueda establecer valores propios.-->
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>
  <appSettings>
    <!--Tiempo de espera (en segundos) para los objetos command-->
    <add key="CommandTimeout" value="600"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--Upload Big Size Files-->
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength is in bytes (B)  -->
        <requestLimits maxAllowedContentLength="2147483648"/>
        <!-- 2147.48 MB -->
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="IniciarSesion.aspx"/>
      </files>
    </defaultDocument>
    <!--<staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>-->
  </system.webServer>
</configuration>